.bettie-flexsapce {
  display: flex;
}

.bettie-flexcol {
  display: flex;
  flex-direction: column;
}

.textos-bettie {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 8px;
  margin-left: 15px;
}

.green {
  color: #00c324;
  font-style: italic;
  font-weight: bold;
}

.ipcompleto {
  color: #0000ff;
  text-decoration: underline;
  margin: auto;
  cursor: pointer;
}

.texto16 {
  font-size: 16px;
}

.title-bettiel1 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.containner-bettie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.resultados-bettie {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.outra-div-bettie {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title-links-arquivos-bettie {
  margin-top: 125px;
}

.links-arquivos-bettie {
  color: #0000ff;
  text-decoration: underline;
  cursor: pointer;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.modal-content {
  margin: 50px auto;
  padding: 20px;
  width: 60%;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 32px;
  height: 32px;
  background-color: #bdbdbd;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.video-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto-pequinique {
  width: 80%;
}

.setas-flex {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  gap: 100px;
}

.setas-bettie {
  color: #ffffff;
  cursor: pointer;
}
